@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');

.kanit-extralight {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
  }

  body{

    background-image: url(campin\ 1.png);
    background-size: 100% 530%;
    background-repeat: no-repeat;
    /* height: 180vw; */
    align-content: center;
  }
.style{
  position: absolute;
    left: 120px;
}
.bolinha{
  position: absolute;
    left: 33px;
    top: 750px;
}
.bolinha1{
  position: absolute;
    left: 183px;
    top: 750px;
}
.bolinha2{
  position: absolute;
    left: 323px;
    top: 750px;
}
.marca{
  position: absolute;
    left: 33px;
    top: 750px;
}
.marca1{
  position: absolute;
    left: 183px;
    top: 750px;
}
.marca2{
  position: absolute;
    left: 323px;
    top: 750px;
}
